[submodule "Desktop/Lesson3/Desktop/Lesson3/version_control_lection_3"]
	path = Desktop/Lesson3/Desktop/Lesson3/version_control_lection_3
	url = https://github.com/ilnar-geekbrains/version_control_lection_3.git
