<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Adguard.Properties.Settings>
            <setting name="MainWindowTop" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>348</value>
            </setting>
            <setting name="FilterEditorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FilteringLogState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>840</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TrialSeen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpirationSeenCount" serializeAs="String">
                <value>-22</value>
            </setting>
            <setting name="InWindowNotificationState" serializeAs="String">
                <value>10</value>
            </setting>
        </Adguard.Properties.Settings>
    </userSettings>
</configuration>